.header {
  background-color: #fff;
}

.header-top {
  height: 60px;
  line-height: 60px;
  padding: 0 40px;
  text-align: right;
}

.header-top .logo {
  height: 60px;
  line-height: 60px;
  text-align: left;
  font-size: 18px;
}

.header-top .logo img {
  width: 40px;
  vertical-align: middle;
  padding-bottom: 10px;
}

.header-top .logo span {
  font-size: 24px;
  margin-left: 10px;
}

.header-top a {
  margin-left: 40px;
}

.breadcrumb {
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  border-top: 1px solid dodgerblue;
}

.breadcrumb-title {
  text-align: center;
  font-size: 18px;
}

.breadcrumb-title:after {
  position: absolute;
  content: '';
  left: 120px;
  top: 39px;
  border-top: 9px solid #fff;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}

.weather {
  text-align: right;
}

.date {
  margin-right: 10px;
}

.simple-page .header-top {
  height: 60px;
  background: dodgerblue;
  color: #fff;
}

.simple-page .header-top a {
  color: #fff;
}

